streamlit
faiss-cpu
openai
chromadb
sentence-transformers
scikit-learn
xgboost
shap
joblib
pandas
matplotlib
numpy 
sentence-transformers
faiss-cpu
langchain-openai
seaborn
openpyxl
langchain
langchain_community
python-dotenv
langgraph
pdfplumber
fitz
frontend
pypdf